# Ignore the maps, osm, db, and logs directories
maps/*
osm/README
osm/data
osm/symbols
osm/mapnik.xml
osm/openstreetmap-carto.lua
osm/openstreetmap-carto.style
db/*
logs/*
lost+found
www/nodeid.txt
etc/*
www/configuration/config.txt
www/gpsstatus.json*
www/daemonstatus.json*
www/.htaccess
bin/*.pyc
