# Ignore the maps, osm, db, and logs directories
maps/
osm/
db/
logs/*
lost+found
www/nodeid.txt
etc/*
www/configuration/config.txt
www/gpsstatus.json*
www/daemonstatus.json*
www/igatestats.json*
bin/*.pyc
bin/*pycache*
doc/2019-GPSL-Presentation.pdf
www/audio/*.mp3
www/audio/*.json
www/tileserver/*.mbtiles
www/tileserver/latestmap.txt
!www/tileserver/natural_earth_2_shaded_relief.raster.mbtiles
